@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Spinnaker&display=swap');
/* general styling */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
    color: #23536D;
    min-width: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 10%;
}

p, label, footer ul{
    font-size: .75em;
    line-height: 2em;
    /* margin-top: 5%; */
}

.container {
    text-align: center;
    padding: .8em 2em;
    margin: 0 auto;
    max-width: 1200px;
}

/* header */
.logo {
    width: 70px;
    transition: 0.2s;
}

.hide-mobile {
    display: none;
}

header {
    /* position: -webkit-sticky; */
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    
    /* padding: .8em 2em .3em 2em; */
    z-index: 3;
}

header div {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 80%;
    margin-top: 50%;
}

/* navigation within the header */
nav ul {
    position: fixed;
    height: 100%;
    width: 60%;
    top: 0;
    right: 0;
    background: #494E4E;
    padding-top: 3em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(92, 99, 99);
}

nav ul li a:hover {
    background-color: rgb(123, 129, 129);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.9em;
    text-align: right;
    padding: 0 1.5em;
    cursor: pointer;
}

/* section "hero" */
.hero, .about {
    margin: 15% 0;
}

.women {
    padding: 1em;
    width: 70%;
    max-width: 682px;
    max-height: 595px;
    margin: 0 auto;
}

.hero p {
    font-size: 1em;
    margin-bottom: 5%;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #23536D;
    color: white;
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.2em;
}

.scroll {
    margin: auto;
}

/* section "about" */
.about ul li{
    padding: 2rem 3rem;
    margin: 10% 0;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, .16);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.about ul li:first-child {
    background-color: #85DEE2;
}

.about ul li:first-child h2 {
    color: #fff;
}

.about ul li:last-child {
    background-color: #F7F7F7;
}

/* section "store" */
.store, .video, footer {
    margin: 10% 0;
}

.blue-container {
    width: 100%;
    background-color: #85DEE2;
}

.store img {
    width: 75%;
    max-width: 665px;
    max-height: 335px;
    margin-bottom: 10%;
}

input {
    display: block;
    width: 75%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin: 10% auto;
}


/* section "video", making <iframe> responsive */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-top: 2rem;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */
.gray-container {
    width: 100%;
    background-color: #494E4E;
    
}

footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer ul li{
    display: inline-block;
    margin: 0 1em;
}

footer a{
    text-decoration: none;
    color: rgb(160, 160, 160);
}

.logo-white {
    width: 86px;
}

/* media query */
@media only screen and (min-width: 650px) {

    p, label, footer ul{
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }

    nav ul {
        width: 40%;
    }

    .logo {
        width: 102px;
    }
    .menu {
        width: 100%;
        margin-top: 80%;
    }
    .women {
        width: 50%;
    }
}

@media only screen and (min-width: 750px) {

    .hero {
        display: flex;
        flex-direction: row-reverse;
    }
    .women {
        height: 50%;
        margin: 0;
    }
    .hero div {
        margin: auto;
        text-align: right;
    }

    button {
        margin-top: 10%;
    }

    .about ul {
        display: flex;
        justify-content: center;
    }
    .about ul li {
        margin: 0 .5em;
    }

    .store {
        display: flex;
        flex: 1;
        text-align: left;
    }
    .store img {
        width: 50%;
        height: 50%;
        margin: auto 1em;   
    }

    input {
        margin: 10% 0;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer div {
        text-align: left;
    }
}

@media only screen and (min-width: 850px) {
    p {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1024px) {

    .logo {
        width: 200px;
    } 

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    nav ul {
        position: inherit;
        padding: 0;
        background: none;
        width: auto;
        height: auto;
        /* display: flex; */
    }

    nav ul li {
        float: left;
        font-size: 1.2rem;
        /* text-align: right; */
    }

    nav ul li a {
        color: #23536D;
        background-color: inherit;
        /* padding: 0; */
    }
    
    nav ul li a:hover {
        background-color: inherit;
    }

    .hero {
        margin: 20% 0 10% 0;
    }

    .about {
        margin: 10% 0;
    }

    .scroll {
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-20px); 
        }
        
    }
}